body {
    background-color: rgb(235, 217, 234);
    font-family: 'Comic Neue', cursive;
    margin: 0;
}

#title-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    color: indigo;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-size: 60px;
    text-decoration: underline;
    padding-right: 10px;
}

.navigation {
    font-size: 30px;
    padding: 10px; 
}

#social-media img {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
}

#search {
    position: relative;
}

.icon-search {
    background:transparent url(../images/icon-search@2x.png) no-repeat center;
    background-size: 19px 17px;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 0;
    margin-top: 3px;
}

#search input{
    background: rgb(235, 200, 224);
    border: 0;
    padding: 10px 5px 10px 35px;
}

#top-posts {
    color: #322579;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: justify;
}

.rank {
    color: #e9c2da;
    display: block;
    font-size: 29px;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -15px;
    text-align: center;
}

#top-posts a {
    position: relative;
    display: block;
    padding: 10px 20px 10px 35px;
    background: rgb(196, 136, 136);
    margin-bottom: 2px;
    text-decoration: none;
    color: honeydew;
}

.quotes {
    font-weight: bold;
    font-style: italic;
    color: brown;
}

@media(max-width: 600px) {
    #title-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 15px;
    }

    .title {
        font-size: 40px;
    }

    #top-posts {
        display: none;
    }  
}
