.footer {
    margin-top: 20px;
    padding-left: 10px;
    background-color: rgb(211, 164, 180);
    height: 100%;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    line-height: 55px;
    padding: 15px;
}

.footer-links div {
    flex: 1 1 25%;
}

.footer-links div.copyright {
    flex: 1 1 50%;
}

.footer a {
    text-decoration: none;
}

@media(max-width: 600px) {
    .footer-links {
        line-height: 40px;
    }

    .footer-links div.copyright {
        line-height: 25px;
        padding-top: 10px;
    } 
}