.newsletter {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 164, 180);
    margin: 0;
    padding: 5px;
    line-height: 5px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.form-field {
    display: inline;
    padding: 5px;
    margin-left: 3px;
}

form.subscribe input {
    margin: 5px;
}

@media(max-width: 600px) {
    .form-field {
        display: block;
    }
}